<% layout('layouts/boilerplate') %> <!-- automatic views folder theke search start korbe -->
  <link rel="stylesheet" href="/stylesheet/stars.css"> <!-- inside public directory-->
  <div class="row justify-content-center">
    <div class="col-6">
      <!-- Map -->
      <div id='map' style='width: 400px; height: 300px;'></div>
      <!--  -->
      <div class="card">
        <!-- image display using carousel  -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <% specificCampground.image.forEach((img,i)=>{ %>
              <div class="carousel-item <%= i==0?'active':''%> "> <!-- active will be applied first pic -->
                <img src="<%= img.url %>" class="d-block w-100" alt="...">
              </div>
              <% }) %>
          </div>
          <% if(specificCampground.image.length> 1){ %> <!-- hide slider for one pic -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
        </div>
        <!-- image display using carousel  -->
        <div class="card-body">
          <h5 class="card-title">
            <%= specificCampground.title %>
          </h5>
          <p class="card-text">
            <%= specificCampground.description%>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= specificCampground.location %>
          </li>
          <li class="list-group-item">Submitted by <%= specificCampground.author.username %>
          </li>
          <li class="list-group-item">$<%= specificCampground.price %>/night</li>
        </ul>
        <% if(currentUser && specificCampground.author.equals(currentUser._id)){ %>
          <div class="card-body">
            <a class="btn btn-info" href="/campgrounds/<%= specificCampground._id %>/edit">Edit</a>
            <form class="my-4 d-inline" action="/campgrounds/<%= specificCampground._id %>?_method=DELETE"
              method="post">
              <button class="btn btn-danger">delete</button>
            </form>
          </div>
          <% } %>
      </div>
    </div>
    <div class="col-6">
      <% if(currentUser){ %>
        <form action="/campgrounds/<%= specificCampground._id%>/reviews" class="m-5 needs-validation" method="post"
          novalidate>
          <h3>Leave a review</h3>
          <!-- <div>
            <label class="form-label" for="rating">Rating:</label>
            <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
          </div> -->
          <!--  copied css style -->
          <fieldset class="starability-basic">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
              aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <!-- copied css style -->
          <div>
            <label class="form-label" for="body">Review:</label>
            <textarea class="form-control" name="review[body]" id="body" cols="30" rowsreview[body]="3"
              required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button class="btn btn-success my-3">submit</button>
        </form>
        <% } %>
          <div class="m-5">
            <h3>Reviews</h3>
            <% for(let review of specificCampground.reviews){ %>
              <div class="card mb-3 p-2">
                <!-- <h5 class="card-ttile">Rating : <%= review.rating %>
                </h5> -->

                <!-- copied  css style -->
                <h5 class="card-title mb-2">
                  <%= review.author.username %>
                </h5>
                <p class="starability-result" data-rating="<%= review.rating %>">
                  Rated: <%= review.rating %> stars
                </p>
                <!-- copied css style -->

                <p class="card-text">Review : <%= review.body %>
                </p>
                <% if(currentUser && review.author.equals(currentUser._id)){ %>
                  <form action="/campgrounds/<%= specificCampground._id%>/reviews/<%= review._id%>?_method=DELETE"
                    method="post">
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
                  <% } %>
              </div>

              <% } %>
          </div>
    </div>
  </div>


  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campInfo = <%-JSON.stringify(specificCampground)%>;
  </script>
  <!-- publicly server page -->
  <script src="/javascript/showMap.js"></script>