<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= oneProduct.name %> </title>
</head>
<body>
    <h1>Prduct Name: <%= oneProduct.name %> </h1>
    <h4>Price: <%= oneProduct.price  %> </h4>
    <h4>Category: <%= oneProduct.category  %> </h4>

    <a href="/products">All Product</a>
    <br><br>
    <a href="/products/<%= oneProduct._id %>/edit ">edit</a>
    <br><br>
    <form action="/products/<%= oneProduct._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>